<template>
  <q-tr :props="props">
    <q-td key="event" :props="props">
      {{ props.row.event }}
    </q-td>

    <q-td key="amount" class="text-primary text-weight-bold" :props="props">
      {{ formattedAmount }}
    </q-td>
  </q-tr>
</template>

<script>
export default {
  name: 'EventQuotaTableRow',

  props: ['props'],

  computed: {
    formattedAmount() {
      return new Intl.NumberFormat('fr-fr', {
        style: 'currency',
        currency: 'XAF'
      }).format(this.props.row.amount)
    }
  }
}
</script>
