<template>
  <q-tr :props="props">
    <q-td key="name" :props="props">
      {{ props.row.name }}
    </q-td>

    <q-td key="user" :props="props">
      {{ props.row.user }}
    </q-td>

    <q-td key="type" :props="props">
      {{ props.row.type }}
    </q-td>

    <q-td key="location" :props="props">
      {{ props.row.location }}
    </q-td>

    <q-td key="start-date" :props="props">
      {{ props.row.start_date }}
    </q-td>

    <q-td key="end-date" :props="props">
      {{ props.row.end_date }}
    </q-td>

    <q-td key="action" :props="props">
      <q-btn
        :to="{ name: 'EventContributions', params: { id: props.row.id } }"
        flat
        round
        color="primary"
        icon="monetization_on"
      >
        <q-tooltip>
          {{ $t('view-contributions') }}
        </q-tooltip>
      </q-btn>

      <q-btn
        v-if="userIsExcoMember"
        :to="{ name: 'EditEvent', params: { id: props.row.id } }"
        flat
        round
        color="warning"
        icon="create"
      />

      <q-btn
        v-if="userIsExcoMember"
        @click="showDeleteDialog = true"
        flat
        round
        color="negative"
        icon="remove_circle"
      />

      <q-dialog v-model="showDeleteDialog">
        <q-card>
          <q-card-section class="bg-negative text-white">
            {{ $t('delete-event') }}
          </q-card-section>

          <q-card-section>
            {{ $t('really-delete-event', { name: props.row.name }) }}
          </q-card-section>

          <q-card-actions align="right">
            <q-btn :loading="loading" @click="deleteEvent" color="negative">
              {{ $t('yes') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn flat :label="$t('cancel')" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-td>
  </q-tr>
</template>

<script>
import { deleteEvent } from 'api/event'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'EventTableRow',

  props: ['props', 'userIsExcoMember'],

  data () {
    return {
      showDeleteDialog: false,
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  methods: {
    async deleteEvent () {
      try {
        this.loading = true
        this.error = false

        await deleteEvent(this.props.row.id)

        this.loading = false
        this.showDeleteDialog = false

        this.$emit('event-deleted', this.props.row.id)

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('event-deleted'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  }
}
</script>
