<template>
  <div class="form-page create-expenditure">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('add-expenditure') }}
        </div>

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-select
            filled
            v-model="form.eventId"
            use-input
            input-debounce="0"
            :label="$tc('events', 1)"
            :options="eventOptions"
            @filter="eventFilterFn"
            emit-value
            map-options
            behavior="menu"
          >
            <template v-slot:prepend>
              <q-icon name="event" />
            </template>

            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">
                  {{ $t('no-results') }}
                </q-item-section>
              </q-item>
            </template>
          </q-select>

          <q-checkbox
            v-model="isForMember"
            :label="$t('disbursed-to-member')"
          />

          <transition
            appear
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
          >
            <q-select
              v-if="isForMember"
              filled
              v-model="form.recipientId"
              use-input
              input-debounce="0"
              :label="$tc('recipients', 1)"
              :options="userOptions"
              @filter="userFilterFn"
              emit-value
              map-options
              behavior="menu"
            >
              <template v-slot:prepend>
                <q-icon name="person" />
              </template>

              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    {{ $t('no-results') }}
                  </q-item-section>
                </q-item>
              </template>
            </q-select>

            <q-input
              v-else
              filled
              v-model.number="form.otherRecipient"
              :label="$tc('recipients', 1)"
              name="other_recipient"
              autofocus
              :rules="[val => val && val.length || $t('required-field')]"
            >
              <template v-slot:prepend>
                <q-icon name="person" />
              </template>
            </q-input>
          </transition>

          <q-input
            filled
            v-model.number="form.amount"
            :label="`${$t('amount')} (XAF) *`"
            name="amount"
            type="number"
            autofocus
            :rules="[val => val && !!val || $t('required-field')]"
          >
            <template v-slot:prepend>
              <q-icon name="attach_money" />
            </template>
          </q-input>

          <q-select
            filled
            v-model="form.status"
            :label="$t('status')"
            :options="statuses"
            emit-value
            map-options
            behavior="menu"
          >
            <template v-slot:prepend>
              <q-icon name="pending_actions" />
            </template>
          </q-select>

          <q-input
            filled
            v-model="form.disbursementDate"
            :label="$t('disbursement-date')"
            mask="date"
          >
            <template v-slot:append>
              <q-icon name="event_available" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="form.disbursementDate">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup :label="$t('close')" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { getEvents } from 'api/event'
import { getUsers } from 'api/user'
import { createExpenditure } from 'api/expenditure'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'CreateExpenditure',

  data () {
    return {
      form: {
        eventId: null,
        otherEvent: '',
        recipientId: null,
        otherRecipient: '',
        status: 'pending',
        amount: null,
        disbursementDate: ''
      },
      eventOptions: [],
      userOptions: [],
      statuses: [
        { value: 'pending', label: this.$t('expenditure-status.pending') },
        { value: 'paid', label: this.$t('expenditure-status.paid') }
      ],
      isForMember: true,
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mEvents () {
      return this.$store.state.events.events
    },

    mUsers () {
      return this.$store.state.users.users
    },

    formattedEvents () {
      return this.mEvents.map(e => ({
        label: e.name,
        value: e.id
      }))
    },

    formattedUsers () {
      return this.mUsers.map(u => ({
        label: `${u.first_name || ''} ${u.middle_name || ''} ${u.last_name}`,
        value: u.id
      }))
    }
  },

  methods: {
    eventFilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.eventOptions = this.formattedEvents
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()

        this.eventOptions = this.formattedEvents.filter(e => e.label.toLowerCase().indexOf(needle) > -1)
      })
    },

    userFilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.userOptions = this.formattedUsers
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()

        this.userOptions = this.formattedUsers.filter(u => u.label.toLowerCase().indexOf(needle) > -1)
      })
    },

    async getEvents () {
      try {
        this.error = false

        const response = await getEvents()

        const events = response.data

        // Commit events to store
        this.$store.commit('events/setEvents', events)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async getUsers () {
      try {
        this.error = false

        const response = await getUsers()

        const users = response.data

        // Commit users to store
        this.$store.commit('users/setUsers', users)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        const data = {
          'status': this.form.status,
          'event_id': this.form.eventId,
          'other_event': this.form.otherEvent,
          'recipient_id': this.isForMember ? this.form.recipientId : null,
          'other_recipient': this.isForMember ? null : this.form.otherRecipient,
          'amount': this.form.amount,
          'disbursement_date': this.form.disbursementDate
        }

        await createExpenditure(data)

        // Redirect to expenditures page
        this.$router.push({ name: 'Expenditures' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('expenditure-created'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        eventId: null,
        otherEvent: '',
        recipientId: null,
        otherRecipient: '',
        status: 'pending',
        amount: null,
        disbursementDate: ''
      }
    }
  },

  mounted () {
    this.getEvents()
    this.getUsers()
  }
}
</script>

