<template>
  <div class="events">
    <q-pull-to-refresh
      @refresh="refresh"
      color="white"
      bg-color="primary"
      icon="autorenew"
    >
      <q-page class="q-pa-md">
        <q-table
          :title="$tc('expenditures', 2)"
          :data="formattedExpenditures"
          :columns="columns"
          row-key="name"
          :loading="loading"
        >
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>

          <template v-slot:body="props">
            <expenditure-table-row
              :props="props"
              :userCanEditFinances="userCanEditFinances"
              @expenditure-deleted="onExpenditureDelete"
            />
          </template>
        </q-table>

        <q-page-sticky
          v-if="userCanEditFinances"
          position="bottom-right"
          :offset="[18, 18]"
        >
          <q-btn :to="{ name: 'CreateExpenditure' }" fab icon="add" color="primary" />
        </q-page-sticky>
      </q-page>
    </q-pull-to-refresh>
  </div>
</template>

<script>
import { getExpenditures } from 'api/expenditure'
import ExpenditureTableRow from 'components/Expenditures/TableRow'
import { getErrorMsgFromResponse, canEditFinances } from 'utils'

export default {
  name: 'Expenditures',

  components: { ExpenditureTableRow },

  data () {
    return {
      loading: false,
      error: false,
      errorMsg: '',
      searchedStatus: null,
      userCanEditFinances: false
    }
  },

  computed: {
    mExpenditures () {
      return this.$store.state.expenditures.expenditures
    },

    formattedExpenditures () {
      return this.mExpenditures.map(e => ({
        id: e.id,
        status: e.status,
        event: (e.event_id && e.event) ? e.event.name : (e.other_event || ''),
        recipient: e.recipient_id && e.recipient ?
          `${e.recipient.first_name || ''} ${e.recipient.middle_name || ''} ${e.recipient.last_name}` :
          (e.other_recipient || ''),
        amount: this.getFormattedAmount(e.amount),
        disbursement_date: e.disbursement_date,
        action: ''
      }))
    },

    columns () {
      return [
        {
          name: 'status',
          required: true,
          label: this.$t('status'),
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'event', align: 'left', label: this.$tc('events', 1), field: 'event', sortable: false },
        { name: 'recipient', align: 'left', label: this.$tc('recipients', 1), field: 'recipient', sortable: false },
        { name: 'amount', align: 'left', label: this.$t('amount'), field: 'amount', sortable: false },
        { name: 'disbursement-date', align: 'left', label: this.$t('disbursement-date'), field: 'disbursement-date', sortable: false },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getEvents () {
      try {
        this.loading = true
        this.error = false

        const params = {
          status: this.searchedStatus
        }

        const response = await getExpenditures(params)

        this.loading = false

        const expenditures = response.data

        // Commit expenditures to store
        this.$store.commit('expenditures/setExpenditures', expenditures)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    getFormattedAmount (amount) {
      return new Intl.NumberFormat('fr-fr', {
        style: 'currency',
        currency: 'XAF'
      }).format(amount)
    },

    onExpenditureDelete (id) {
      const expenditures = this.mExpenditures.filter(e => e.id !== id)

      this.$store.commit('expenditures/setExpenditures', expenditures)
    },

    async refresh (done) {
      await this.getEvents()

      done()
    }
  },

  async mounted () {
    this.getEvents()

    this.userCanEditFinances = await canEditFinances()
  }
}
</script>
