<template>
  <q-page class="flex flex-center q-pa-lg">
    <q-card class="profile">
      <q-card-section>
        <h4 class="text-center q-mb-none">
          {{ $t('update-profile') }}
        </h4>
      </q-card-section>

      <q-card-section>
        <div class="column items-center">
          <q-avatar class="cursor-pointer" size="72px" @click="changePhoto">
            <img :src="mAvatar">
          </q-avatar>

          <div class="q-mt-sm">
            <q-btn
              :loading="avatarLoading"
              @click="changePhoto"
              color="accent"
              class="q-mr-sm"
              :label="$t('change-avatar')"
              push
              size="sm"
            >
              <template v-slot:loading>
                <q-spinner-gears />
              </template>
            </q-btn>

            <q-btn
              :loading="removeLoading"
              @click="removePhoto"
              color="negative"
              :label="$t('remove-avatar')"
              push
              size="sm"
              :disable="hasDefaultAvatar"
            >
              <template v-slot:loading>
                <q-spinner-gears />
              </template>
            </q-btn>
          </div>
        </div>

        <q-form
          ref="form"
          @submit="onSubmit"
          class="q-gutter-md"
        >
          <q-input
            v-model="mFirstName"
            name="first_name"
            :label="$t('first-name')"
          >
            <template v-slot:prepend>
              <q-icon name="portrait" />
            </template>
          </q-input>

          <q-input
            v-model="mMiddleName"
            name="middle_name"
            :label="$t('middle-name')"
          >
            <template v-slot:prepend>
              <q-icon name="portrait" />
            </template>
          </q-input>

          <q-input
            v-model="mLastName"
            name="last_name"
            :label="$t('last-name')"
            lazy-rules
            :rules="[rules.required]"
          >
            <template v-slot:prepend>
              <q-icon name="portrait" />
            </template>
          </q-input>

          <q-input
            v-model="mEmail"
            name="email"
            :label="$t('email')"
            readonly
          >
            <template v-slot:prepend>
              <q-icon name="email" />
            </template>
          </q-input>

          <q-input
            v-model="mPhone"
            name="phone"
            :label="$t('phone')"
            readonly
          >
            <template v-slot:prepend>
              <q-icon name="phone" />
            </template>

            <template v-slot:hint>
              {{ $t('phone-example') }}
            </template>
          </q-input>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('update') }}

              <template v-slot:loading>
                <q-spinner-gears />
              </template>
            </q-btn>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { Plugins, CameraResultType } from '@capacitor/core'
import { updateUser, updateUserMultipart } from 'api/user'
import { getErrorMsgFromResponse } from 'utils'

const { Camera, Storage } = Plugins

export default {
  name: 'Profile',

  data() {
    return {
      avatarLoading: false,
      loading: false,
      removeLoading: false,
      error: false,
      errorMsg: '',
      rules: {
        required: val => val && val.length > 0 || this.$t('required-field')
      },
      avatar: '',
      user: {}
    }
  },

  computed: {
    mUser() {
      return this.$store.state.auth.user || {}
    },

    mFirstName: {
      get() {
        return this.mUser.first_name || ''
      },

      set(val) {
        this.user.first_name = val
      }
    },

    mMiddleName: {
      get() {
        return this.mUser.middle_name || ''
      },

      set(val) {
        this.user.middle_name = val
      }
    },

    mLastName: {
      get() {
        return this.mUser.last_name || ''
      },

      set(val) {
        this.user.last_name = val
      }
    },

    mPhone: {
      get() {
        return this.mUser.phone || ''
      },

      set(val) {
        return this.user.phone = val
      }
    },

    mEmail: {
      get() {
        return this.mUser.email || ''
      },

      set(val) {
        this.user.email = val
      }
    },

    mAvatar: {
      get() {
        return (this.user && this.user.avatar)
          ? `${process.env.BACK_URL}/public/storage/${this.user.avatar}`
          : 'avatar_default.png'
      },

      set(img) {
        this.avatar = img
      }
    },

    hasDefaultAvatar () {
      return this.mAvatar === 'avatar_default.png'
    },

    username() {
      return this.user ? `${this.user.first_name} ${this.user.last_name}` : ''
    }
  },

  methods: {
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;

      return emailPattern.test(val) || this.$t('invalid-email');
    },

    isValidOrangeOrMTNNumber (val) {
      return val.startsWith('67') || val.startsWith('68') || val.startsWith('69')
        || val.startsWith('65') || this.$t('invalid-orange-mtn-number')
    },

    async changePhoto() {
      try {
        const image = await Camera.getPhoto({
          quality: 90,
          allowEditing: true,
          resultType: CameraResultType.DataUrl
        })

        this.avatarLoading = true
        this.error = false

        const res = await fetch(image.dataUrl)
        const blob = await res.blob()
        const avatar = new File([blob], this.username, { type: 'image/png' })

        const formData = new FormData()

        formData.append('first_name', this.user.first_name)
        formData.append('middle_name', this.user.middle_name)
        formData.append('last_name', this.user.last_name)
        formData.append('avatar', avatar)
        formData.append('email', this.user.email)
        formData.append('phone', this.user.phone)
        formData.append('role_id', this.mUser.role_id)
        formData.append('marital_status', 'single')

        const response = await updateUserMultipart(this.mUser.id, formData)
        this.user = response.data

        this.avatarLoading = false

        // Commit updated user to store
        this.$store.commit('auth/setUser', this.user)

        // Save updated user to Storage
        await Storage.set({
          key: process.env.STORAGE_USER_KEY,
          value: JSON.stringify(this.user)
        })
      } catch (error) {
        this.avatarLoading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async removePhoto() {
      try {
        this.removeLoading = true
        this.error = false

        const user = { ...this.mUser }

        user.avatar = null

        await updateUser(this.mUser.id, user)

        this.removeLoading = false

        this.user.avatar = ''

        // Commit updated user to store
        this.$store.commit('auth/setUser', user)

        // Save updated user to Storage
        await Storage.set({
          key: process.env.STORAGE_USER_KEY,
          value: JSON.stringify(this.mUser)
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async onSubmit(evt) {
      try {
        if (this.$refs.form.validate()) {
          this.loading = true
          this.error = false

          const formData = new FormData(evt.target)

          formData.append('role_id', this.user.role_id)
          formData.append('marital_status', 'single')

          await updateUserMultipart(this.user.id, formData)

          this.loading = false

          // Save updated user to Storage
          await Storage.set({
            key: process.env.STORAGE_USER_KEY,
            value: JSON.stringify(this.mUser)
          })

          // Commit updated user to store
          this.$store.commit('auth/setUser', this.mUser)

          this.$q.notify({
            color: 'positive',
            icon: 'check',
            message: this.$t('profile-updated'),
            position: 'top',
            timeout: 5000
          })
        }
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'cancel',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  },

  mounted () {
    this.user = this.$store.state.auth.user
  }
}
</script>
