<template>
  <div class="event-quotas">
    <q-page class="q-pa-md">
      <q-table
        :title="$t('event-quotas')"
        :data="eventQuotas"
        :columns="columns"
        row-key="name"
        separator="cell"
      >
        <template v-slot:body="props">
          <event-quota-table-row :props="props"/>
        </template>
      </q-table>

      <div class="account-numbers rounded-borders bg-white q-mt-md q-pa-md">
        <div class="text-h6 text-weight-bold">
          {{ $t('how-to-contribute') }}
        </div>

        <div class="account-detail">
          <span>
            {{ $t('momo-number') }}:
          </span>

          <span class="text-primary text-weight-bold">
            {{ momoNumber }}
          </span>
        </div>

        <div class="account-detail">
          <span>
            {{ $t('om-number') }}:
          </span>

          <span class="text-primary text-weight-bold">
            {{ omNumber }}
          </span>
        </div>

        <div class="account-detail">
          <span>
            {{ $t('account-holder') }}:
          </span>

          <span class="text-primary text-weight-bold">
            {{ accountHolder }}
          </span>
        </div>
      </div>
    </q-page>
  </div>
</template>

<script>
import EventQuotaTableRow from 'components/EventQuotas/TableRow'

export default {
  name: 'EventQuotas',

  components: {
    EventQuotaTableRow
  },

  data () {
    return {
      eventQuotas: [
        { event: this.$t('event.wedding'), amount: 150000 },
        { event: this.$t('event.bornhouse'), amount: 150000 },
        { event: this.$t('event.bereavement'), amount: 200000 },
        { event: this.$t('event.death'), amount: 250000 },
      ],
      accountHolder: process.env.ACCOUNT_HOLDER,
      momoNumber: process.env.MOMO_NUMBER,
      omNumber: process.env.OM_NUMBER
    }
  },

  computed: {
    columns () {
      return [
        {
          name: 'event',
          required: true,
          label: this.$tc('events', 1),
          align: 'center',
          field: row => row.name,
          sortable: false
        },
        { name: 'amount', align: 'center', label: this.$t('amount'), field: 'amount', sortable: false }
      ]
    }
  }
}
</script>
