<template>
  <q-tr :props="props">
    <q-td key="status" :props="props">
      <q-badge
        :color="statusColor"
        :label="$t(`expenditure-status.${props.row.status}`)"
      />
    </q-td>

    <q-td key="event" :props="props">
      {{ props.row.event }}
    </q-td>

    <q-td key="recipient" :props="props">
      {{ props.row.recipient }}
    </q-td>

    <q-td key="amount" :props="props">
      {{ props.row.amount }}
    </q-td>

    <q-td key="disbursement-date" :props="props">
      {{ props.row.disbursement_date }}
    </q-td>

    <q-td key="action" :props="props">
      <q-btn
        v-if="userCanEditFinances"
        :to="{ name: 'EditExpenditure', params: { id: props.row.id } }"
        flat
        round
        color="warning"
        icon="create"
      />

      <q-btn
        v-if="userCanEditFinances"
        @click="showDeleteDialog = true"
        flat
        round
        color="negative"
        icon="remove_circle"
      />

      <q-dialog v-model="showDeleteDialog">
        <q-card>
          <q-card-section class="bg-negative text-white">
            {{ $t('delete-expenditure') }}
          </q-card-section>

          <q-card-section>
            {{ $t('really-delete-expenditure', { name: props.row.recipient }) }}
          </q-card-section>

          <q-card-actions align="right">
            <q-btn :loading="loading" @click="deleteExpenditure" color="negative">
              {{ $t('yes') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn flat :label="$t('cancel')" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-td>
  </q-tr>
</template>

<script>
import { deleteExpenditure } from 'api/expenditure'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'ExpenditureTableRow',

  props: ['props', 'userCanEditFinances'],

  data () {
    return {
      showDeleteDialog: false,
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    statusColor() {
      let color = ''

      switch (this.props.row.status) {
        case 'paid':
          color = 'positive'

          break

        case 'pending':
          color = 'warning'

          break

        case 'cancelled':
          color = 'negative'

          break

        default:
          color = 'secondary'

          break
      }

      return color
    }
  },

  methods: {
    async deleteExpenditure () {
      try {
        this.loading = true
        this.error = false

        await deleteExpenditure(this.props.row.id)

        this.loading = false
        this.showDeleteDialog = false

        this.$emit('expenditure-deleted', this.props.row.id)

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('expenditure-deleted'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  }
}
</script>
