<template>
  <div class="add-contribution">
    <q-card>
      <q-card-section>
        <div class="text-h6">
          {{ $t('add-contribution') }}
        </div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-form
          ref="form"
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-input
            filled
            v-model.number="form.amount"
            :label="`${$t('amount')} (XAF) *`"
            name="amount"
            type="number"
            autofocus
            :rules="[val => val && !!val || $t('required-field')]"
          >
            <template v-slot:prepend>
              <q-icon name="attach_money" />
            </template>
          </q-input>

          <q-checkbox
            v-model="isFromMember"
            :label="$t('contribution-from-member')"
          />

          <transition
            appear
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
          >
            <q-select
              v-if="isFromMember"
              filled
              v-model="form.userId"
              use-input
              input-debounce="0"
              :label="$tc('members', 1)"
              :options="options"
              @filter="filterFn"
              emit-value
              map-options
              behavior="menu"
            >
              <template v-slot:prepend>
                <q-icon name="person" />
              </template>

              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    {{ $t('no-results') }}
                  </q-item-section>
                </q-item>
              </template>
            </q-select>

            <q-input
              v-else
              filled
              v-model.number="form.otherUser"
              :label="$tc('donors', 1)"
              name="other_user"
              autofocus
              :rules="[val => val && val.length || $t('required-field')]"
            >
              <template v-slot:prepend>
                <q-icon name="person" />
              </template>
            </q-input>
          </transition>
        </q-form>
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn
          flat
          :label="$t('cancel')"
          v-close-popup
        />

        <q-btn
          flat
          type="submit"
          :label="$t('add-contribution')"
          @click="onSubmit"
        />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
import { createContribution } from 'api/contribution'
import { getUsers } from 'api/user'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'AddContributionDialog',

  props: ['eventId'],

  data () {
    return {
      form: {
        userId: null,
        otherUser: '',
        amount: ''
      },
      isFromMember: true,
      options: []
    }
  },

  computed: {
    mUsers () {
      return this.$store.state.users.users
    },

    formattedUsers () {
      return this.mUsers.map(u => ({
        label: `${u.first_name || ''} ${u.middle_name || ''} ${u.last_name}`,
        value: u.id
      }))
    }
  },

  methods: {
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.options = this.formattedUsers
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()

        this.options = this.formattedUsers.filter(u => u.label.toLowerCase().indexOf(needle) > -1)
      })
    },

    async getUsers () {
      try {
        this.error = false

        const response = await getUsers()

        const users = response.data

        // Commit users to store
        this.$store.commit('users/setUsers', users)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async onSubmit () {
      try {
        const formIsValid = await this.$refs.form.validate()

        if (formIsValid) {
          this.loading = true
          this.error = false

          const data = {
            'event_id': this.eventId,
            'user_id': this.isFromMember ? this.form.userId : null,
            'other_user': !this.isFromMember ? this.form.otherUser : null,
            'amount': this.form.amount
          }

          await createContribution(data)

          // Close dialog
          this.$emit('close-dialog')

          this.$q.notify({
            color: 'positive',
            icon: 'thumb_up',
            message: this.$t('contribution-created'),
            position: 'top',
            timeout: 5000
          })
        }
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        userId: null,
        amount: ''
      }
    }
  },

  mounted () {
    this.getUsers()
  }
}
</script>
