<template>
  <q-tr :props="props">
    <q-td key="avatar" :props="props">
      <q-avatar>
        <img :src="props.row.avatar">
      </q-avatar>
    </q-td>

    <q-td key="name" :props="props">
      {{ props.row.name }}
    </q-td>

    <q-td key="amount" :props="props">
      {{ formattedAmount }}

      <q-popup-edit
        v-if="userCanEditFinances"
        v-model.number="form.amount"
        buttons
        :label-set="$t('change')"
        :label-cancel="$t('cancel')"
        @save="updateContribution"
      >
        <q-input type="number" v-model.number="form.amount" dense autofocus />
      </q-popup-edit>
    </q-td>

    <q-td key="action" :props="props">
      <div v-if="userCanEditFinances" class="q-pa-md q-gutter-sm">
        <q-btn
          @click="showDeleteDialog = true"
          flat
          round
          color="negative"
          icon="remove_circle"
        />

        <q-dialog v-model="showDeleteDialog">
          <q-card>
            <q-card-section class="bg-negative text-white">
              {{ $t('delete-contribution') }}
            </q-card-section>

            <q-card-section>
              {{ $t('really-delete-contribution', { name: props.row.name }) }}
            </q-card-section>

            <q-card-actions align="right">
              <q-btn :loading="loading" @click="deleteContribution" color="negative">
                {{ $t('yes') }}

                <template v-slot:loading>
                  <q-spinner-hourglass />
                </template>
              </q-btn>

              <q-btn flat :label="$t('cancel')" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-td>
  </q-tr>
</template>

<script>
import { updateContribution, deleteContribution } from 'api/contribution'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'ContributionTableRow',

  props: ['props', 'userCanEditFinances'],

  data () {
    return {
      showDeleteDialog: false,
      loading: false,
      error: false,
      errorMsg: '',
      form: {
        userId: null,
        eventId: null,
        amount: null
      }
    }
  },

  computed: {
    formattedAmount () {
      const amount = this.props.row.amount

      return new Intl.NumberFormat('fr-fr', {
        style: 'currency',
        currency: 'XAF'
      }).format(amount)
    }
  },

  methods: {
    async updateContribution (value, initialValue) {
      try {
        if (value !== initialValue) {
          this.loading = true
          this.error = false

          const data = {
            user_id: this.form.userId,
            event_id: this.form.eventId,
            amount: this.form.amount
          }

          await updateContribution(this.props.row.id, data)

          this.loading = false

          this.$emit('contribution-edited', this.props.row.id)

          this.$q.notify({
            color: 'positive',
            icon: 'thumb_up',
            message: this.$t('contribution-edited'),
            position: 'top',
            timeout: 5000
          })
        }
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async deleteContribution () {
      try {
        this.loading = true
        this.error = false

        await deleteContribution(this.props.row.id)

        this.loading = false
        this.showDeleteDialog = false

        this.$emit('contribution-deleted', this.props.row.id)

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('contribution-deleted'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  },

  mounted () {
    this.form.userId = this.props.row.userId
    this.form.eventId = this.props.row.eventId
    this.form.amount = this.props.row.amount
  }
}
</script>
