// Variables
@import "quasar.variables";

@font-face {
  font-family: Dosis;
  src: url(../assets/fonts/Dosis/Dosis-VariableFont_wght.ttf);
}

// Declare a class which applies it
.dosis-font {
  font-family: 'Dosis';
}

body {
  font-family: 'Dosis';
}

.q-page-container {
  background-image: url('../assets/img/bg-dark-with-pattern.png');
  background-repeat: repeat;
}

.auth, .profile {
  width: 50%;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.form-page {
  margin: auto;
  width: 50%;

  @media (max-width: 767px) {
    width: 90%;
  }
}

.q-table {

  th {
    font-weight: 700;
  }
}

.sticky-header-column-table {
  max-height: 68vh;

  tr th {
    background: #fff;
    font-weight: bold;
    position: sticky;
    z-index: 2;
  }

  thead th {
    border-bottom-width: 0;
  }

  thead tr:last-child th {
    top: 48px;
    z-index: 3;
  }

  thead tr:first-child th {
    top: 0;
  }

  tr:first-child th:first-child {
    z-index: 3;
  }

  td:last-child {
    background-color: whitesmoke;
    z-index: 1;
  }

  td:last-child, th:last-child {
    right: 0;
    position: sticky;
  }
}
