<template>
  <div class="contributions">
    <q-pull-to-refresh
      @refresh="refresh"
      color="white"
      bg-color="primary"
      icon="autorenew"
    >
      <q-page class="q-pa-md">
        <q-table
          :data="formattedContributions"
          :columns="columns"
          row-key="name"
          :loading="loading"
        >
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>

          <template v-slot:top>
            <div class="full-width">
              <div class="text-h6 q-mb-md">
                {{ $t('contributions-for-event', { name: mEvent.name || '' }) }}
              </div>

              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <div class="text-weight-bold">
                    {{ $t('total-contributed') }}
                  </div>

                  <q-badge
                    outline
                    color="positive"
                    :label="formattedTotalContributions"
                  />
                </div>

                <div class="col-xs-6 col-sm-4">
                  <div class="text-weight-bold">
                    {{ $t('amount-disbursed') }}
                  </div>

                  <q-badge
                    outline
                    color="warning"
                    :label="formattedAmountDisbursed"
                  />
                </div>

                <div class="col-xs-6 col-sm-4">
                  <div class="text-weight-bold">
                    {{ $t('balance') }}
                  </div>

                  <q-badge
                    outline
                    color="primary"
                    :label="formattedBalance"
                  />
                </div>
              </div>
            </div>
          </template>

          <template v-slot:body="props">
            <contribution-table-row
              :props="props"
              :userCanEditFinances="userCanEditFinances"
              @contribution-edited="getEvent"
              @contribution-deleted="onContributionDelete"
            />
          </template>
        </q-table>

        <q-page-sticky
          v-if="userCanEditFinances"
          position="bottom-right"
          :offset="[18, 18]"
        >
          <q-btn
            @click="showAddContributionDialog = true"
            fab
            icon="add"
            color="primary"
          />

          <q-dialog v-model="showAddContributionDialog">
            <add-contribution-dialog
              :eventId="eventId"
              @close-dialog="closeAddContributionDialog"
            />
          </q-dialog>
        </q-page-sticky>
      </q-page>
    </q-pull-to-refresh>
  </div>
</template>

<script>
import { getEvent } from 'api/event'
import { getEventExpenditure } from 'api/expenditure'
import AddContributionDialog from 'components/Contributions/AddDialog'
import ContributionTableRow from 'components/Contributions/TableRow'
import { getErrorMsgFromResponse, canEditFinances } from 'utils'

export default {
  name: 'Contributions',

  components: {
    AddContributionDialog,
    ContributionTableRow
  },

  data () {
    return {
      eventId: this.$route.params.id,
      loading: false,
      error: false,
      errorMsg: '',
      userCanEditFinances: false,
      showAddContributionDialog: false
    }
  },

  computed: {
    mEvent () {
      return this.$store.state.events.event
    },

    mContributions () {
      return this.mEvent.contributions || []
    },

    mExpenditure () {
      return this.$store.state.expenditures.expenditure || {}
    },

    formattedContributions () {
      return this.mContributions.map(c => ({
        id: c.id,
        avatar: this.getAvatar(c.user),
        name: c.user_id && c.user ?
          `${c.user.first_name || ''} ${c.user.middle_name || ''} ${c.user.last_name}` :
          (c.other_user || ''),
        amount: c.amount,
        userId: c.user_id,
        eventId: c.event_id,
        action: ''
      }))
    },

    totalContributions () {
      let total = 0

      this.mContributions.forEach(c => (total += c.amount))

      return total
    },

    formattedTotalContributions () {
      return new Intl.NumberFormat('fr-fr', {
        style: 'currency',
        currency: 'XAF'
      }).format(this.totalContributions)
    },

    amountDisbursed () {
      return this.mExpenditure.amount || 0
    },

    formattedAmountDisbursed () {
      return new Intl.NumberFormat('fr-fr', {
        style: 'currency',
        currency: 'XAF'
      }).format(this.amountDisbursed)
    },

    balance () {
      return this.totalContributions - this.amountDisbursed
    },

    formattedBalance () {
      return new Intl.NumberFormat('fr-fr', {
        style: 'currency',
        currency: 'XAF'
      }).format(this.balance)
    },

    columns () {
      return [
        { name: 'avatar', align: 'left', label: this.$t('avatar'), field: 'avatar', sortable: false },
        {
          name: 'name',
          required: true,
          label: this.$tc('members', 1),
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'amount', align: 'left', label: this.$t('amount'), field: 'amount', sortable: false },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getEvent () {
      try {
        this.loading = true
        this.error = false

        const response = await getEvent(this.eventId)

        this.loading = false

        const event = response.data

        // Commit event to store
        this.$store.commit('events/setEvent', event)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async getEventExpenditure () {
      try {
        this.error = false

        const response = await getEventExpenditure(this.eventId)

        this.loading = false

        const expenditure = response.data

        // Commit expenditure to store
        this.$store.commit('expenditures/setExpenditure', expenditure)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    getAvatar (member) {
      return (member && member.avatar)
          ? `${process.env.BACK_URL}/public/storage/${member.avatar}`
          : 'avatar_default.png'
    },

    onContributionDelete (id) {
      const event = { ...this.mEvent }

      const contributions = this.mContributions.filter(c => c.id !== id)

      event.contributions = contributions

      this.$store.commit('events/setEvent', event)
    },

    closeAddContributionDialog () {
      this.showAddContributionDialog = false

      // Reload event
      this.getEvent()
    },

    async refresh (done) {
      await this.getEvent()

      done()
    }
  },

  async mounted () {
    this.getEvent()
    this.getEventExpenditure()

    this.userCanEditFinances = await canEditFinances()
  }
}
</script>
