<template>
  <div class="form-page create-event">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('add-event') }}
        </div>

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-select
            filled
            v-model="form.userId"
            use-input
            input-debounce="0"
            :label="$tc('members', 1)"
            :options="options"
            @filter="filterFn"
            emit-value
            map-options
            behavior="menu"
          >
            <template v-slot:prepend>
              <q-icon name="person" />
            </template>

            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">
                  {{ $t('no-results') }}
                </q-item-section>
              </q-item>
            </template>
          </q-select>

          <q-input
            filled
            v-model="form.name"
            :label="`${$t('name')} *`"
            name="name"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="event" />
            </template>
          </q-input>

          <q-select
            filled
            v-model="form.type"
            :options="types"
            :label="$tc('types', 1)"
            emit-value
            map-options
            behavior="menu"
          >
            <template v-slot:prepend>
              <q-icon name="help_outline" />
            </template>
          </q-select>

          <q-input
            filled
            v-model="form.location"
            :label="`${$tc('locations', 1)} *`"
            name="location"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="place" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.description"
            :label="$t('description')"
            name="description"
            type="textarea"
          >
            <template v-slot:prepend>
              <q-icon name="description" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.startDate"
            :label="`${$t('start-date')} *`"
            mask="date"
            :rules="['date']"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="form.startDate">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup :label="$t('close')" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.endDate"
            :label="`${$t('end-date')} *`"
            mask="date"
            :rules="['date']"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="form.endDate">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup :label="$t('close')" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { getUsers } from 'api/user'
import { createEvent } from 'api/event'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'CreateEvent',

  data () {
    return {
      form: {
        userId: null,
        name: '',
        type: 'bornhouse',
        location: '',
        description: '',
        startDate: '',
        endDate: ''
      },
      options: [],
      types: [
        { value: 'wedding', label: this.$t('event.wedding') },
        { value: 'bornhouse', label: this.$t('event.bornhouse') },
        { value: 'bereavement', label: this.$t('event.bereavement') },
        { value: 'death', label: this.$t('event.death') },
        { value: 'reunion', label: this.$t('event.reunion') },
        { value: 'other', label: this.$t('event.other') }
      ],
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mUsers () {
      return this.$store.state.users.users
    },

    formattedUsers () {
      return this.mUsers.map(u => ({
        label: `${u.first_name || ''} ${u.middle_name || ''} ${u.last_name}`,
        value: u.id
      }))
    }
  },

  methods: {
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.options = this.formattedUsers
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()

        this.options = this.formattedUsers.filter(u => u.label.toLowerCase().indexOf(needle) > -1)
      })
    },

    async getUsers () {
      try {
        this.error = false

        const response = await getUsers()

        const users = response.data

        // Commit users to store
        this.$store.commit('users/setUsers', users)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        const data = {
          'user_id': this.form.userId,
          'name': this.form.name,
          'type': this.form.type,
          'location': this.form.location,
          'description': this.form.description,
          'start_date': this.form.startDate,
          'end_date': this.form.endDate
        }

        await createEvent(data)

        // Redirect to events page
        this.$router.push({ name: 'Events' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('event-created'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        userId: null,
        name: '',
        type: 'bornhouse',
        location: '',
        description: '',
        startDate: '',
        endDate: ''
      }
    }
  },

  mounted () {
    this.getUsers()
  }
}
</script>

