<template>
  <div class="events">
    <q-pull-to-refresh
      @refresh="refresh"
      color="white"
      bg-color="primary"
      icon="autorenew"
    >
      <q-page class="q-pa-md">
        <q-table
          :title="$tc('events', 2)"
          :data="formattedEvents"
          :columns="columns"
          row-key="name"
          :loading="loading"
        >
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>

          <template v-slot:body="props">
            <event-table-row
              :props="props"
              :userIsExcoMember="userIsExcoMember"
              @event-deleted="onEventDelete"
            />
          </template>
        </q-table>

        <q-page-sticky
          v-if="userIsExcoMember"
          position="bottom-right"
          :offset="[18, 18]"
        >
          <q-btn :to="{ name: 'CreateEvent' }" fab icon="add" color="primary" />
        </q-page-sticky>
      </q-page>
    </q-pull-to-refresh>
  </div>
</template>

<script>
import { getEvents } from 'api/event'
import EventTableRow from 'components/Events/TableRow'
import { getErrorMsgFromResponse, isExcoMember } from 'utils'

export default {
  name: 'Events',

  components: { EventTableRow },

  data () {
    return {
      loading: false,
      error: false,
      errorMsg: '',
      searchedName: null,
      userIsExcoMember: false
    }
  },

  computed: {
    mEvents () {
      return this.$store.state.events.events
    },

    formattedEvents () {
      return this.mEvents.map(e => ({
        id: e.id,
        name: e.name,
        user: e.user ? `${e.user.first_name || ''} ${e.user.middle_name || ''} ${e.user.last_name}` : '',
        type: this.$t(`event.${e.type}`),
        location: e.location,
        start_date: e.start_date,
        end_date: e.end_date,
        action: ''
      }))
    },

    columns () {
      return [
        {
          name: 'name',
          required: true,
          label: this.$t('name'),
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'user', align: 'left', label: this.$tc('users', 1), field: 'user', sortable: false },
        { name: 'type', align: 'left', label: this.$tc('types', 1), field: 'type', sortable: false },
        { name: 'location', align: 'left', label: this.$tc('locations', 1), field: 'location', sortable: false },
        { name: 'start-date', align: 'left', label: this.$t('start-date'), field: 'start-date', sortable: false },
        { name: 'end-date', align: 'left', label: this.$t('end-date'), field: 'end-date', sortable: false },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getEvents () {
      try {
        this.loading = true
        this.error = false

        const params = {
          name: this.searchedName
        }

        const response = await getEvents(params)

        this.loading = false

        const events = response.data

        // Commit events to store
        this.$store.commit('events/setEvents', events)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onEventDelete (id) {
      const events = this.mEvents.filter(e => e.id !== id)

      this.$store.commit('events/setEvents', events)
    },

    async refresh (done) {
      await this.getEvents()

      done()
    }
  },

  async mounted () {
    this.getEvents()

    this.userIsExcoMember = await isExcoMember()
  }
}
</script>
