<template>
  <q-page class="home flex flex-center">
    <q-card>
      <img
        alt="Quasar logo"
        src="~assets/img/logo.png"
      >
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'Home'
}
</script>
