<template>
  <div class="form-page edit-role">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('edit-role') }}
        </div>

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-select
            class="q-px-md"
            v-model="form.name"
            :options="roles"
            :label="$t('name')"
            dense
            borderless
            emit-value
            map-options
            options-dense
          >
            <template v-slot:prepend>
              <q-icon name="admin_panel_settings" />
            </template>
          </q-select>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { getRole, updateRole } from 'api/role'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'EditRole',

  data () {
    return {
      roleId: this.$route.params.id,
      form: {
        name: 'member'
      },
      roles: [
        { value: 'member', label: this.$t('role.member') },
        { value: 'president', label: this.$t('role.president') },
        { value: 'vice-president', label: this.$t('role.vice-president') },
        { value: 'secretary-general', label: this.$t('role.secretary-general') },
        { value: 'financial-secretary', label: this.$t('role.financial-secretary') },
        { value: 'treasurer', label: this.$t('role.treasurer') },
        { value: 'social-coordinator', label: this.$t('role.social-coordinator') },
        { value: 'sports-coordinator', label: this.$t('role.sports-coordinator') }
      ],
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  methods: {
    async getRole () {
      try {
        this.loading = true
        this.error = false

        const response = await getRole(this.roleId)

        this.loading = false

        const role = response.data

        this.form.name = role.name

        // Commit role to store
        this.$store.commit('roles/setRole', role)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        await updateRole(this.roleId, this.form)

        // Redirect to roles page
        this.$router.push({ name: 'Roles' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('role-edited'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        name: 'member'
      }
    }
  },

  mounted () {
    this.getRole()
  }
}
</script>
