<template>
  <div class="roles">
    <q-pull-to-refresh
      @refresh="refresh"
      color="white"
      bg-color="primary"
      icon="autorenew"
    >
      <q-page class="q-pa-md">
        <q-table
          :title="$tc('roles', 2)"
          :data="mRoles"
          :columns="columns"
          row-key="name"
          :loading="loading"
        >
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>

          <template v-slot:body="props">
            <role-table-row
              :props="props"
              :userIsExcoMember="userIsExcoMember"
              @role-deleted="onRoleDelete"
            />
          </template>
        </q-table>

        <q-page-sticky
          v-if="userIsExcoMember"
          position="bottom-right"
          :offset="[18, 18]"
        >
          <q-btn :to="{ name: 'CreateRole' }" fab icon="add" color="primary" />
        </q-page-sticky>
      </q-page>
    </q-pull-to-refresh>
  </div>
</template>

<script>
import { getRoles } from 'api/role'
import RoleTableRow from 'components/Roles/TableRow'
import { getErrorMsgFromResponse, isExcoMember } from 'utils'

export default {
  name: 'Roles',

  components: { RoleTableRow },

  data () {
    return {
      loading: false,
      error: false,
      errorMsg: '',
      userIsExcoMember: false
    }
  },

  computed: {
    mRoles () {
      return this.$store.state.roles.roles
    },

    columns () {
      return [
        {
          name: 'name',
          required: true,
          label: this.$t('name'),
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getRoles () {
      try {
        this.loading = true
        this.error = false

        const response = await getRoles()

        this.loading = false

        const roles = response.data

        // Commit roles to store
        this.$store.commit('roles/setRoles', roles)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onRoleDelete (id) {
      const roles = this.mRoles.filter(r => r.id !== id)

      this.$store.commit('roles/setRoles', roles)
    },

    async refresh (done) {
      await this.getRoles()

      done()
    }
  },

  async mounted () {
    this.getRoles()

    this.userIsExcoMember = await isExcoMember()
  }
}
</script>
