<template>
  <div class="form-page edit-member">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('edit-user') }}
        </div>

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-input
            filled
            v-model="form.firstName"
            :label="$t('first-name')"
            name="first_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.middleName"
            :label="$t('middle-name')"
            name="middle_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.lastName"
            :label="`${$t('last-name')} *`"
            name="last_name"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.email"
            :label="`${$t('email')} *`"
            name="email"
            type="email"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              isValidEmail
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="alternate_email" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.phone"
            :label="`${$t('phone')} *`"
            name="phone"
            type="tel"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="phone" />
            </template>
          </q-input>

          <q-select
            filled
            v-model="form.roleId"
            :options="formattedRoles"
            :label="$tc('roles', 1)"
            emit-value
            map-options
          >
            <template v-slot:prepend>
              <q-icon name="admin_panel_settings" />
            </template>
          </q-select>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import { getRoles } from 'api/role'
import { getUser, updateUser } from 'api/user'
import { getErrorMsgFromResponse } from 'utils'

export default {
  name: 'EditMember',

  data () {
    return {
      memberId: this.$route.params.id,
      form: {
        firstName: '',
        middleName: '',
        lastName: '',
        email: '',
        phone: '',
        roleId: null
      },
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mRoles () {
      return this.$store.state.roles.roles
    },

    formattedRoles () {
      return this.mRoles.map(r => ({
        label: this.$t(`role.${r.name}`),
        value: r.id
      }))
    }
  },

  methods: {
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;

      return emailPattern.test(val) || this.$t('invalid-email');
    },

    async getUser () {
      try {
        this.error = false

        const response = await getUser(this.memberId)

        const member = response.data

        // Set form values
        this.form.firstName = member.first_name
        this.form.middleName = member.middle_name
        this.form.lastName = member.last_name
        this.form.email = member.email
        this.form.phone = member.phone
        this.form.roleId = member.role_id
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async getRoles () {
      try {
        this.error = false

        const response = await getRoles()

        const roles = response.data

        // Commit roles to store
        this.$store.commit('roles/setRoles', roles)
      } catch (error) {
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        const data = {
          'first_name': this.form.firstName,
          'middle_name': this.form.middleName,
          'last_name': this.form.lastName,
          'email': this.form.email,
          'phone': this.form.phone,
          'role_id': this.form.roleId,
          'marital_status': 'single'
        }

        await updateUser(this.memberId, data)

        // Redirect to members page
        this.$router.push({ name: 'Members' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('user-edited'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        firstName: '',
        middleName: '',
        lastName: '',
        email: '',
        phone: '',
        roleId: null
      }
    }
  },

  mounted () {
    this.getUser()
    this.getRoles()
  }
}
</script>

