<template>
  <div class="members">
    <q-pull-to-refresh
      @refresh="refresh"
      color="white"
      bg-color="primary"
      icon="autorenew"
    >
      <q-page class="q-pa-md">
        <q-table
          :title="$tc('members', 2)"
          :data="formattedMembers"
          :columns="columns"
          row-key="name"
          :loading="loading"
        >
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>

          <template v-slot:body="props">
            <member-table-row
              :props="props"
              :userIsExcoMember="userIsExcoMember"
              @member-deleted="onMemberDelete"
            />
          </template>
        </q-table>

        <q-page-sticky
          v-if="userIsExcoMember"
          position="bottom-right"
          :offset="[18, 18]"
        >
          <q-btn :to="{ name: 'CreateMember' }" fab icon="add" color="primary" />
        </q-page-sticky>
      </q-page>
    </q-pull-to-refresh>
  </div>
</template>

<script>
import { getUsers } from 'api/user'
import MemberTableRow from 'components/Members/TableRow'
import { getErrorMsgFromResponse, isExcoMember } from 'utils'

export default {
  name: 'Members',

  components: { MemberTableRow },

  data () {
    return {
      loading: false,
      error: false,
      errorMsg: '',
      searchedName: null,
      userIsExcoMember: false
    }
  },

  computed: {
    mMembers () {
      return this.$store.state.users.users
    },

    formattedMembers () {
      return this.mMembers.map(m => ({
        id: m.id,
        avatar: this.getAvatar(m),
        name: `${m.first_name || ''} ${m.middle_name || ''} ${m.last_name}`,
        email: m.email,
        phone: m.phone,
        action: ''
      }))
    },

    columns () {
      return [
        { name: 'avatar', align: 'left', label: this.$t('avatar'), field: 'avatar', sortable: false },
        {
          name: 'name',
          required: true,
          label: this.$t('name'),
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'email', align: 'left', label: this.$t('email'), field: 'email', sortable: false },
        { name: 'phone', align: 'left', label: this.$t('phone'), field: 'phone', sortable: false },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getMembers () {
      try {
        this.loading = true
        this.error = false

        const params = {
          name: this.searchedName
        }

        const response = await getUsers(params)

        this.loading = false

        const users = response.data

        // Commit users to store
        this.$store.commit('users/setUsers', users)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    getAvatar (member) {
      return (member && member.avatar)
          ? `${process.env.BACK_URL}/public/storage/${member.avatar}`
          : 'avatar_default.png'
    },

    onMemberDelete (id) {
      const members = this.mMembers.filter(m => m.id !== id)

      this.$store.commit('users/setUsers', members)
    },

    async refresh (done) {
      await this.getMembers()

      done()
    }
  },

  async mounted () {
    this.getMembers()

    this.userIsExcoMember = await isExcoMember()
  }
}
</script>
