<template>
  <q-layout view="hhh Lpr fFf" class="bg-primary">
    <q-header elevated reveal class="bg-white text-dark">
      <q-toolbar class="q-px-xl">
        <!-- <q-avatar>
          <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg" :alt="appName">
        </q-avatar> -->

        <q-toolbar-title class="text-weight-bold">
          {{ appName }}
        </q-toolbar-title>

        <q-space></q-space>

        <!-- <q-btn
          class="text-weight-bold"
          color="primary"
          no-caps
          :label="$t('login')"
          :to="{ name: 'Login' }"
        />

        <q-btn
          class="text-weight-bold q-ml-md"
          color="secondary"
          no-caps
          :label="$t('register')"
          :to="{ name: 'Register' }"
        /> -->
      </q-toolbar>
    </q-header>

    <q-page-container>
      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <router-view />
      </transition>
    </q-page-container>

    <q-footer class="bg-dark text-grey text-center q-pa-md">
      <div v-html="copyright"></div>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  name: 'AuthLayout',

  data() {
    return {
      appName: process.env.APP_NAME
    }
  },

  computed: {
    copyright() {
      const year = new Date().getFullYear()

      return `${this.appName} &#169; ${year} | ${this.$t('all-rights-reserved')}`
    }
  }
}
</script>
