<template>
  <q-layout view="lHh Lpr lFf" class="bg-secondary">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          {{ appName }}
        </q-toolbar-title>

        <q-select
          class="q-px-md"
          v-model="lang"
          :options="langOptions"
          :label="locale"
          dark
          dense
          borderless
          emit-value
          map-options
          options-dense
        />

        <q-btn
          :loading="loading"
          @click="logout"
          flat
          round
          icon="exit_to_app"
        >
          <q-tooltip>
            {{ $t('logout') }}
          </q-tooltip>

          <template v-slot:loading>
            <q-spinner-hourglass />
          </template>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          {{ $t('menu') }}
        </q-item-label>

        <essential-link
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <router-view />
      </transition>
    </q-page-container>

    <q-footer class="bg-dark text-grey text-center q-pa-md">
      {{ appName }} &copy; {{ year }} | {{ $t('all-rights-reserved') }}
    </q-footer>
  </q-layout>
</template>

<script>
import { Plugins } from '@capacitor/core'
import { logout } from 'api/auth'
import { getErrorMsgFromResponse } from 'utils'
import EssentialLink from 'components/EssentialLink.vue'

const { Storage } = Plugins

export default {
  name: 'ProfileLayout',

  components: { EssentialLink },

  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'home',
          titleCanBePlural: false,
          caption: 'get-app-insights',
          icon: 'home',
          route: 'Home'
        },
        {
          title: 'profiles',
          titleCanBePlural: true,
          titleIsPlural: false,
          caption: 'update-profile',
          icon: 'account_circle',
          route: 'Profile'
        },
        {
          title: 'update-password',
          titleCanBePlural: false,
          caption: 'change-password',
          icon: 'vpn_key',
          route: 'UpdatePassword'
        }
      ],
      appName: process.env.APP_NAME,
      lang: this.$i18n.locale,
      langOptions: [
        { value: 'en-us', label: 'English' },
        { value: 'fr-fr', label: 'Français' }
      ],
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    locale() {
      return this.$i18n.locale.toUpperCase()
    },

    year() {
      return new Date().getFullYear()
    }
  },

  methods: {
    async logout () {
      try {
        this.loading = true
        this.error = false

        await logout()

        // Remove user and token from storage
        await Storage.remove({ key: process.env.STORAGE_USER_KEY })
        await Storage.remove({ key: process.env.STORAGE_TOKEN_KEY })

        // Commit loggedIn status and user to store
        this.$store.commit('auth/setUser', {})
        this.$store.commit('auth/setLoggedIn', false)

        // Redirect user to login page
        this.$router.push({ name: 'Login' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('logout-successful'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    }
  },

  watch: {
    lang(lang) {
      this.$i18n.locale = lang
    }
  },

  async mounted () {
    const { value } = await Storage.get({ key: process.env.STORAGE_USER_KEY })

    if (value) {
      const user = JSON.parse(value)

      // Commit loggedIn status and user to store
      this.$store.commit('auth/setUser', user)
      this.$store.commit('auth/setLoggedIn', true)
    }
  }
}
</script>
